[Unit]
Description=Worktime updater
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/python /mnt/win/Users/iszulc/y/py-tools/worktime/worktime.py
ExecStop=/usr/bin/python /mnt/win/Users/iszulc/y/py-tools/worktime/worktime.py

[Install]
WantedBy=multi-user.target
